<div id="room" style="text-align: left">
  <h1> Rooms</h1>
    <ul style="list-style: none;">
      roomNo : <li><input type="text" #roomNo ></li>
      hotelNo : <li><input type="text" #hotelNo (keyup)="validateHotelNo(hotelNo.value)"></li>
      typeRoom : <li><input type="text" #typeRoom ></li>
      price : <li><input type="number" #price ></li>
      <button type="button" class="btn btn-primary" (click)="insertRoom(roomNo.value, hotelNo.value, typeRoom.value, price.value)" [disabled]= "hotelNo.value === '' || invalidHotelPK"> Add Room</button>
    </ul>
    <div id="error" *ngIf="invalidHotelPK"> Cet hotel n'existe pas</div>
  </div>