<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div id="ht">
  <button (click)="getHotels()">Get Hotels</button>
  <li *ngFor="let hotel of hotels">
    {{ hotel.hotelname }} : {{ hotel.city}}
  </li>
</div>

<input #hotelNo >
<input #hotelName >
<input #hotelCity >
<button (click)="insertHotel(hotelNo.value,hotelName.value, hotelCity.value)"> Add Hotel</button>
<div id="error" *ngIf="duplicateError"> Insertion sur une cle primaire qui existe deja</div>